:root{
     background-color: 	#A0A0A0
}


body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#header h1{
  text-align: center;
  font-size: 2.5em;
  color: white;
}
#header h1 span{
  color: black;
}
nav{
  align-items: center;
}
nav ul{
  display: none;
}
 /* this is the LOGO image */
.logo{
  margin-top: 30px;
  margin-left: 25%;
  border-radius: 75%;
  width: 25%;
}
.container .middle{
  display:none;  
}

.main-img{

width: 80%;
margin: 1%;
border-radius: 5%;
margin-left: 1%;

}

.about h2{
  text-align:center;
  color: white;
  font-size: 1em; 
}
.about p{
  font-size: .8em;
  color: white;
  margin-top: 2%;
  min-width: 90%;
    /* border: 2px solid black;  */ 
 max-width: 370px;
 text-align: center;
 overflow-wrap:break-word ;
 line-height: 1.5em;
 
 
}
.p-h2{
  text-align: center;
  margin-top: 5%;
font-size: 2em;

}

.box-img{
  width: 80%;
  margin: 3%;
  border-radius: 3%;
}


#box h3{
  text-align: center;
  margin-top: 8%;
  font-size: 1em;
  
}

.contact h2{
  font-size: 1.5em;
  text-align: center;
  color: white;
}
form{
  margin-top: 5%;
  margin-left: 20%;
  color: black;
}

input{
  
  margin: 5px
}
 
footer{
  
  font-size: 1.2em;
  text-align: center;
}



@media screen and (min-width: 410px){

.about p{

  margin-left: 20px;
}
form{
  margin-left: 30%;
}

}
@media screen and (min-width: 650px){


  .about h2{
    font-size: 2em
  }
  .about p{
  font-size: 1.2em;
    margin-left: 20px;
  }
  form{
    margin-left: 40%;
  }
  .p-h2{
    font-size: 2.5em;
  }
#box h3{
  font-size: 2em;
}
  }

/* Medidum screen View  */
  @media screen and (min-width: 1291px) {
  

    body{ 
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5em;
      padding-left: 20px;
      color: white;
      
  }
  nav h1{
      font-size: 2.5em;
      /* text-align: center; */
      margin-top: 17px;
      color: aliceblue;
  }
      nav h1 span{
          color: black;
      }
     
  nav ul{
      float: right;
      margin-right: 5%;
      display: block;
  }
  
  
  nav ul li{
      display:inline-block ;
      position: relative;
      padding: 10px;
  }
  nav ul li a{
      text-decoration: none;
      color: white;
  }
   .logo{
      width: 200px;
      height: 200px;
      border-radius: 25%;
      display: block;
      margin-left: 45%;
      margin-top: 4%;
      
  
   }
    .main-img{
      width: fit-content;
      height: fit-content;
      margin-left: 10%;
      border-radius: 5%;
      border: 2px solid hotpink;
    }
  
    .about h2{
      font-size: 2.5em;
      text-align: center;
      margin-top: 2%;
  
    }
    .about p{
      text-align: center;
      
    }
    .portfolio{
      /* border: 1px solid white; */
      margin-top: 5%;
      min-width: 100%;
      min-height: 100%;
      
    }
    .p-h2{
      text-align: center;
      font-size: 3.5em;
      margin-top: 2%;
    color: black;
    }
    #box{
      
      text-align: center;
      margin: 10px;
      font-size: 1.5em;
      margin-top: 3%;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
      
    }
    #box img{
      margin-top: 10%;
      padding: 15px;
       width: 100%;
      height: 80%;
      border-radius: 15%;
  
    }
  
   .box1
      {
          float:left;
          /* border: 2px solid white; */
          width:33%;
          height:60%;
      } 
  .box2{
   float:left;
   /* border: 2px solid white; */
   width:33%;
   height:60%;
   font-size: 0.8em;
  }
  
  .box3{
      float:left;
      /* border: 2px solid white; */
      width:33%;
      height:60%;
  }
  h3{
      text-align: center;
  } 
   .contact{
      border: 2PX solid #E0E0E0;
      min-height: 400px;
      border-radius: 17px;
      max-width: 800px;
      margin-left: 20%;
      background-color: #E0E0E0;
      color: black;
   }
  
  .contact h2{
      text-align: center;
      margin-top: 2%;
      font-size: 2em;
  }
  
  
   form{
     /* text-align: center; */
     margin-top: 10%;
   }
  
   label{
      font-size: 1.3em;
   }
  

  
  }
  


  
/* Desktop View  */
@media screen and (min-width: 1609px) {
  

  body{ 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding-left: 20px;
    color: white;
    
}
#header nav h1{
    font-size: 2.5em;
    text-align: left; 
    margin-top: 17px;
    color: aliceblue;
}
    nav h1 span{
        color: black;
    }
   
nav ul{
    float: right;
    margin-right: 5%;
    display: block;
}


nav ul li{
    display:inline-block ;
    position: relative;
    padding: 10px;
    font-size: 1.2em;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
 .logo{
    width: 200px;
    height: 200px;
    border-radius: 25%;
    display: block;
    margin-left: 45%;
    margin-top: 4%;
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    

 }
 .container.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.logo:hover {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
  
}
.text {
  /* background-color: #04AA6D; */
  color: white;
  font-size: 2em;
  padding: 16px 32px;
  margin-top: -70%;
  margin-right: -180%;
  
}


 
  .main-img{
    width: fit-content;
    height: fit-content;
    margin-left: 20%;
    border-radius: 5%;
    border: 2px solid black;
    cursor: pointer;


    opacity: 1;
     display: block; 
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

  }
.main-img:hover {
  opacity: 0.5;
}


  .about h2{
    font-size: 2em;
    text-align: center;
    margin-top: 2%;

  }
  .about p{
    text-align: center;
    
  }
  .portfolio{
    /* border: 1px solid white; */
    margin-top: 5%;
    min-width: 100%;
    min-height: 100%;
    
  }
  .portfolio h2{
    text-align: center;
    font-size: 3em;
    margin-top: 2%;
    /* margin-left: 40%; */
  }
  #box{
    
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
    margin-top: 4%;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    
  }
  #box img{
    margin-top: 10%;
    padding: 15px;
     width: 100%;
    height: 80%;
    border-radius: 40px;
    cursor: pointer;
    
  }
  .box2:hover .box-img{
  -webkit-filter: blur(4px); 
      filter: blur(4px);
}


.box1:hover .box-img{
  -webkit-filter: blur(4px); 
      filter: blur(4px);
}

.box3:hover .box-img{
  -webkit-filter: blur(4px); 
      filter: blur(4px);
}

  

 .box1
    {
        float:left;
        /* border: 2px solid white; */
        width:33%;
        height:60%;} 

 .box2{
 float:left;
 /* border: 2px solid white; */
 width:33%;
 height:60%;
}

.box3{
    float:left;
    /* border: 2px solid white; */
    width:33%;
    height:60%;
}
h3{
    text-align: center;
} 
 .contact{
    border: 2PX solid #E0E0E0;
    min-height: 400px;
    border-radius: 17px;
    max-width: 800px;
    margin-left: 25%;
    background-color: #E0E0E0;
    color: black;
    margin-bottom: 10px;
 }

.contact h2{
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
}


 form{
   text-align: center;
   margin-top: 5%;
   margin-left: 5%;
 }

 label{
    font-size: 1.3em;
 }

 input{
    margin: 20px;
 }
  
 footer{

  position: relative;
text-align: center;
  border-bottom: 15px solid #4F4846;
  color: #FDF8F5;
  border-top: 20px solid #4F4846;
  background-color: #4F4846;
 }






}
























